.w-player {
    position: relative;
    width: 100px;
    height: 100px;
}

.w-player__list {
    list-style: none;
}

.w-player__item {
    display: inline-block;
    margin: 10px;
}

.w-player__name {
    margin-top: 10px;
    margin-bottom: 0px;
}

.w-player__image {
	width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

.w-player__overlay {
    background-color: transparentize(#fff, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.w-player__dead {
    opacity: 0.3;
}

.w-day-review .w-player__icon, 
.w-day-accuse .w-player__icon {
    fill: $day-color;
    height: 70%;
}

.w-night .w-player__icon {
    fill: $night-color;
    height: 70%;
}

.w-setup-player .w-player__icon {
    fill: $setup-color;
    height: 70%;
}

.w-player__delete:after {
    content: 'x';
    position: absolute;
    top: 3px;
    right: 3px;
    height: 18px;
    width: 17px;
    background-color: $setup-color;
    line-height: 1em;
    font-size: 15px;
    cursor: pointer;
    color: $primary-color;
}