.w-player {
    text-align: center;
}

.w-player__list {
    list-style: none;
}

.w-player__item {
    display: inline-block;
    margin: 10px;
}

.w-player__image {
	width: 100px;
    height: 100px;
    background-color: #FFF;
}

.w-player__werewolf .w-player__image {
    outline: 3px solid cadetblue;
}

.w-player__mason .w-player__image {
    outline: 3px solid chartreuse;
}

.w-player__spellcaster .w-player__image {
    outline: 3px solid chocolate;
}

.w-player__sorceress .w-player__image {
    outline: 3px solid coral;
}

.w-player__bodyguard .w-player__image {
    outline: 3px solid cornflowerblue;
}

.w-player__seer .w-player__image {
    outline: 3px solid cornsilk;
}

.w-player__witch .w-player__image {
    outline: 3px solid crimson;
}

.w-player__wolfcub .w-player__image {
    outline: 3px solid cyan;
}

.w-player__hunter .w-player__image {
    outline: 3px solid dodgerblue;
}

.w-player__kill {
    background: #A93F46;
}

.w-player__save {
    background: #51772B;
}

.w-player__accused .w-player__image {
    outline: 3px solid #8c1414;
}

.w-player__accusers .w-player__image {
    outline: 3px solid #1d68a7;
}

.w-player__voteSave .w-player__image {
    outline: 3px solid #1da721;
}

.w-player__voteKill .w-player__image {
    outline: 3px solid #ff0;
}

