.w-player {
    text-align: center;
}

.w-player__list {
    list-style: none;
}

.w-player__item {
    display: inline-block;
    margin: 10px;
}

.w-player__image {
	width: 100px;
    height: 100px;
    background-color: #FFF;
}

.w-player__editing .w-player__image {
    border-color: red;
}

.w-player__werewolf .w-player__image {
    border-color: black;
}

.w-player__mason .w-player__image {
    border-color: grey;
}

.w-player__spellcaster .w-player__image {
    border-color: green;
}

.w-player__kill {
    background: #A93F46;
}

.w-player__save {
    background: #51772B;
}
