.w-role__label {
	margin-bottom: 0;
}

.w-role__image {
	width: 90px;
	margin: 10px;
    display: list-item;
}

.w-role__checkbox {
	display: none;
}

.w-role__checkbox:checked + img {
    outline: 3px solid $primary-color;
}