.w-player--image {
	width: 100px;
	border-radius: 50%;
}

.w-player {
    position: fixed;
    text-align: center;
    transform: translate(-50%, -50%);

    &:hover {
    	cursor: pointer;
    	opacity: 0.6;
    }
}
