.w-player--image {
	width: 100px;
	border-radius: 50%;
    border: 5px solid #FFF;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.5);
    margin-bottom: 8px;

    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}

.w-player {
    position: fixed;
    text-align: center;
    transform: translate(-50%, -50%);
    transition-property: top, left;
    transition-duration: 0.5s;
}

.w-player-selection--editing .w-player--image {
    border-color: red;
}

.w-player-selection--werewolf .w-player--image {
    border-color: black;
}

.w-player-selection--mason .w-player--image {
    border-color: grey;
}

.w-player-selection--spellcaster .w-player--image {
    border-color: green;
}
