#error-page-left-eye, #error-page-right-eye {
  animation: blink 6s infinite;
  transform-origin: center center
}

@keyframes blink {
  0%, 20% {
    transform: scaleY(1);
  }
  22% {
    transform: scaleY(.2);
  }
  24%, 26% {
    transform: scaleY(1);
  }
  28% {
    transform: scaleY(.2);
  }
  30%, 70% {
    transform: scaleY(1);
  }
  72% {
    transform: scaleY(.2);
  }
  74%, 100% {
    transform: scaleY(1);
  }
}
