// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Colors
$primary-color: #87785d !default; //brown
$secondary-color: #182128 !default; //dark blue

$text-color: #FFF !default;
$label-color: #C2C3C5 !default; //light grey
$link-color: $primary-color !default; //brown
$icon-color: #56768f !default; //light blue
$input-color: #333 !default; //dark grey

$night-color: #2a343c; //dark blue
$day-color: #3c2a2a; //dark red
$setup-color: #2a3c2c; //dark green

// Typography
$font-heading: "Edirne", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-regular: "HellixRegular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//Grid Variables
$container-width: 960px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Misc
$global-radius: 4px !default;
