// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    height: 58px;
    padding: 0 30px;
    color: $text-color;
    text-align: center;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: $primary-color;
    cursor: pointer;
    border: 0;

    &:hover,
    &:focus {
    color: $text-color;
    background-color: lighten($primary-color, 10%);
    outline: 0;
    }
    &:disabled {
        opacity: 0.3;
    }
}

.button-secondary {
  color: $icon-color;
  background-color: $secondary-color;
  
  &:hover,
  &:focus {
    color: $icon-color;
    background-color: lighten($secondary-color, 3%);
  }
}