// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––

.input__container {
  background-color: white;
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  align-items: center;
  overflow: hidden;
}

.label {
  font-size: 1.35rem;
  text-transform: uppercase;
  flex-basis: 30%;
  text-align: left;
  margin-bottom: 0;
  color: $label-color;
}

.input {
  font-size: 1.8rem;
  font-weight: 600;
  border: 0;
  margin-bottom: 0;
  color: $input-color;
}

input {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    height: 38px;
    padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
    background-color: #fff;
    box-shadow: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      outline: 0;
    }
  }
}


textarea,
select {
  height: 38px;
  padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
  background-color: #fff;
  box-shadow: none;
  box-sizing: border-box;

  &:focus {
    outline: 0;
  }
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}
